In [1]:
import pandas as pd

In [3]:
pokemon = pd.read_csv('./csv/pokemon.csv')
pokemon['is_default'] = pokemon['is_default'].astype(bool)
pokemon

,id,identifier,species_id,height,weight,base_experience,order,is_default
0,1,bulbasaur,1,7,69,64.0,1.0,True
1,2,ivysaur,2,10,130,142.0,2.0,True
2,3,venusaur,3,20,1000,263.0,3.0,True
3,4,charmander,4,6,85,62.0,5.0,True
4,5,charmeleon,5,11,190,142.0,6.0,True
...,...,...,...,...,...,...,...,...
1274,10267,koraidon-gliding-build,1007,35,3030,NaN,NaN,False
1275,10268,miraidon-low-power-mode,1008,28,2400,NaN,NaN,False
1276,10269,miraidon-drive-mode,1008,28,2400,NaN,NaN,False
1277,10270,miraidon-aquatic-mode,1008,28,2400,NaN,NaN,False
1278,10271,miraidon-glide-mode,1008,28,2400,NaN,NaN,False

In [4]:
df_species_names = pd.read_csv('csv/pokemon_species_names.csv')
spanish = df_species_names['local_language_id'] == 7
df_species_names = df_species_names[spanish]
df_species_names = df_species_names[['pokemon_species_id', 'name']]
df_species_names.rename(columns={'pokemon_species_id': 'species_id', 'name': 'Name'}, inplace=True)
df_species_names

      species_id        Name
6              1   Bulbasaur
17             2     Ivysaur
28             3    Venusaur
39             4  Charmander
50             5  Charmeleon
...          ...         ...
9829         894   Regieleki
9840         895   Regidrago
9851         896   Glastrier
9862         897   Spectrier
9873         898     Calyrex

[898 rows x 2 columns]

In [5]:
pd.merge(pokemon, df_species_names, on='species_id')

,id,identifier,species_id,height,weight,base_experience,order,is_default,Name
0,1,bulbasaur,1,7,69,64.0,1.0,True,Bulbasaur
1,2,ivysaur,2,10,130,142.0,2.0,True,Ivysaur
2,3,venusaur,3,20,1000,263.0,3.0,True,Venusaur
3,10033,venusaur-mega,3,24,1555,281.0,4.0,False,Venusaur
4,10195,venusaur-gmax,3,240,10000,236.0,NaN,False,Venusaur
...,...,...,...,...,...,...,...,...,...
1144,896,glastrier,896,22,8000,290.0,1088.0,True,Glastrier
1145,897,spectrier,897,20,445,290.0,1089.0,True,Spectrier
1146,898,calyrex,898,11,77,250.0,1090.0,True,Calyrex
1147,10193,calyrex-ice,898,24,8091,340.0,1091.0,False,Calyrex
1148,10194,calyrex-shadow,898,24,536,340.0,1092.0,False,Calyrex

In [ ]:
generations = pd.read_csv('csv/generations.csv')
generations

In [ ]:
pd.read_csv('csv/pokemon_forms.csv')

In [ ]:
df_form_names = pd.read_csv('csv/pokemon_form_names.csv')
spanish = df_form_names['local_language_id'] == 9
df_form_names[spanish]

In [ ]:
pd.read_csv('csv/languages.csv')